<section ng-init="searchProducts()">
  <ul id="list-container">
    <li id="{{product.style_id}}" class="search-list-item" data-ng-repeat="product in products">
      <div class="search-list-item-container">
        <a href="#/products/{{product.style_id}}" data-ng-click="productDetails(product)">
          <img src="http://g.nordstromimage.com/imagegallery/store/product/Medium/13/_10421913.jpg" alt="{{product.name}}"></img>
          <br/>
          <img src="{{thumb_url_base + product.image_url}}" alt="{{product.name}}" class="search-product-image"></img>
        </a>
        <p class="product-price"> {{product.formatted_regular_price}} </p>
        <p class="product-name" > {{product.name                   }} </p>
        <p class="product-brand"> {{product.brand                  }} </p>
      </div>
    </li>
  </ul>
</section>
