/*
  Basic Stylesheet for page.
*/
#add-to-cart-btn {
  background-color: #FF526F;
  border-color:     #FF526F;
  border-radius:    5px;
  color:            white;
  font-family:      arial;
  font-size:        16px;
  height:           40px;
  margin-left:      30px;
  width:            320px;
}
#careers-link {
  float:    right;
  position: relative;
}
#product-detail-content {
  margin-top: 30px;
}



.back-to-search-link {
  float:         right;
  padding-right: 25px;
  position:      relative;
}
.hr-bold {
  border:        2px solid;
  margin-bottom: 10px;
}
.hr-thin {
  border-width:  1px;
  border-style:  solid;
  clear:         both;
  margin-bottom: 10px;
}
.product-detail-image {
  float:        left;
  padding:      10px 0 0 20px;
  position:     relative;
}
.product-detail-table {
  padding:   30px 0 7px 20px;
  float:     left;
  width:     360px;
  position:  relative;
  word-wrap: normal;
}
.product-name {
  width: 165px;
}
.product-table-desc {
  width: 20px;
}
.search-list-container {
  display:      inline-block;
  padding-left: 15px;
  width:        95%;
}
.search-list-item {
  float:           left;
  list-style-type: none;
  margin-top:      20px;
  word-wrap:       normal;
  min-height:      300px;
  width:           30%;
}
.search-list-item-container {
  display:    inline-block;
  float:      left;
  height:     auto;
  min-height: 430px;
}
.search-product-image {
  display:   none;
  margin:    20px 30px 5px 30px;
  min-width: auto;
}

